/* LandingPage.css */

.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set height to full viewport height */
  }
  
  .box {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
  }
  
  .customer-box {
    background-color: #e6f7ff; /* Light blue background for Customer box */
  }
  
  .admin-box {
    background-color: #f0f0f0; /* Light gray background for Administrator box */
  }
  